if SHIELD_MOTTABLEKEY_R

config ZMK_KEYBOARD_NAME
    default "mottablekey_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MOTTABLEKEY_L

config ZMK_KEYBOARD_NAME
    default "mottablekey_L"

config ZMK_SPLIT
    default y

endif
