CONFIG_ZMK_KEYBOARD_MOTTABLEKEY=y
CONFIG_ZMK_KEYBOARD=y
CONFIG_ZMK_KEYBOARD_TYPE_MOTTABLEKEY=y
CONFIG_ZMK_KEYBOARD_MOTTABLEKEY_KEYMAP=mottablekey.keymap
CONFIG_ZMK_KEYBOARD_MOTTABLEKEY_OVERLAY=mottablekey.overlay
CONFIG_ZMK_KEYBOARD_MOTTABLEKEY_CONF=mottablekey.conf
CONFIG_ZMK_KEYBOARD_MOTTABLEKEY_SHIELD=y
CONFIG_ZMK_KEYBOARD_MOTTABLEKEY_SHIELD_CONFIG=mottablekey.shield
CONFIG_ZMK_KEYBOARD_MOTTABLEKEY_BUILD=y