keymap:
  layers:
    - name: base
      bindings:
        - &kp KC_A
        - &kp KC_B
        - &kp KC_C
        - &kp KC_D
        - &kp KC_E
        - &kp KC_F
        - &kp KC_G
        - &kp KC_H
        - &kp KC_I
        - &kp KC_J
        - &kp KC_K
        - &kp KC_L
        - &kp KC_M
        - &kp KC_N
        - &kp KC_O
        - &kp KC_P
        - &kp KC_Q
        - &kp KC_R
        - &kp KC_S
        - &kp KC_T
        - &kp KC_U
        - &kp KC_V
        - &kp KC_W
        - &kp KC_X
        - &kp KC_Y
        - &kp KC_Z
        - &kp KC_1
        - &kp KC_2
        - &kp KC_3
        - &kp KC_4
        - &kp KC_5
        - &kp KC_6
        - &kp KC_7
        - &kp KC_8
        - &kp KC_9
        - &kp KC_0
        - &kp KC_ENTER
        - &kp KC_SPACE
        - &kp KC_TAB
        - &kp KC_ESC
        - &kp KC_BACKSPACE
        - &kp KC_MINUS
        - &kp KC_EQUAL
        - &kp KC_LBRACKET
        - &kp KC_RBRACKET
        - &kp KC_BACKSLASH
        - &kp KC_SEMICOLON
        - &kp KC_QUOTE
        - &kp KC_COMMA
        - &kp KC_DOT
        - &kp KC_SLASH
        - &kp KC_CAPSLOCK
        - &kp KC_LSHIFT
        - &kp KC_LCTRL
        - &kp KC_LALT
        - &kp KC_LGUI
        - &kp KC_RSHIFT
        - &kp KC_RCTRL
        - &kp KC_RALT
        - &kp KC_RGUI
        - &kp KC_UP
        - &kp KC_DOWN
        - &kp KC_LEFT
        - &kp KC_RIGHT
        - &kp KC_PGUP
        - &kp KC_PGDOWN
        - &kp KC_HOME
        - &kp KC_END
        - &kp KC_INSERT
        - &kp KC_DELETE
        - &kp KC_PRINTSCREEN
        - &kp KC_SCROLLLOCK
        - &kp KC_PAUSE
        - &kp KC_F1
        - &kp KC_F2
        - &kp KC_F3
        - &kp KC_F4
        - &kp KC_F5
        - &kp KC_F6
        - &kp KC_F7
        - &kp KC_F8
        - &kp KC_F9
        - &kp KC_F10
        - &kp KC_F11
        - &kp KC_F12